footer {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 64rem;
  width: 80%;
  margin-left: 8px;
  margin-right: 8px;
  gap: 20px;
}

.quick-nav {
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  justify-content: center;
}

.quick-nav a {
  color: rgb(161, 161, 170);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.quick-nav a:hover {
  color: rgb(221, 221, 233);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-logo {
  width: 1.75rem;
  height: 1.75rem;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(161, 161, 170);
  font-size: 0.7rem;
}

.social-container:hover {
  color: rgb(221, 221, 233);
}

.emails {
  color: rgb(161, 161, 170);
  font-size: 0.9rem;
  line-height: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 8px;
}

.copyright {
  color: rgb(161, 161, 170);
  font-size: 0.8rem;
  line-height: 1.2rem;
}
